@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-white: #f5f5f5;
    --primary-black: #040406;
  }

  html {
    font-family: 'Montserrat', sans-serif;
  }
}